/* styles.css */
body {
    font-family: 'Bebas Neue', Times, serif, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.metal-mania-regular {
    font-family: "Metal Mania", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .container {
    background-color: rgb(255, 255, 255);
    padding: 75px;
    border: 4px solid black;
    border-radius: 15px;
    box-shadow: 0 0 0px rgba(133, 10, 10, 0.1);
    width: auto;
    height: auto;
    
}

h1 {
    text-align: center;
    color: rgba(190, 149, 159, 0.993);
}
h1 img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;

}

label {
    text-align: center;
    margin-top: 10px;;
    display: block;
}

input {
    font-family: "Metal Mania", serif;
    width: 75%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0px;
    border: 4px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

button {
    font-family: "bebas-neue-regular", serif;
    width: 100%;
    padding: 15px;
    background-color: #050505;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    cursor: pointer;

}

.boton-redireccion{
   background-color: #050505;
   border: none;
   color: #fff;
   padding: 15px 32px;
   text-decoration: none;
   font-size:  0.8em;
   border-radius: 30px;
   font-family: bebas-neue-regular;
}

button:hover {
    background-color: #f7f7f7;
}

p {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}